<!--- <header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">



      <div class="trigger">
        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header> --->


<header id="header" class="standard-header">


    <div class="navigatiewrap">
        <nav>

            <ul class="topnav" id="myTopnav">
                <li><a href="/sporten.html">Sporten</a></li>
                <li><a href="/locatie.html">Locatie</a></li>
                <li><a href="/transport.html">Transport</a></li>
                <li><a href="/contact.html">Contact</a></li>
                <li><a href="/login.html">Login</a></li>
                <li class="icon">
                    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
                </li>
            </ul>
        </nav>
    </div>

    <div> <a href="index.html">
        <img class='logo logo_klein' src="../afbeeldingen/Logo-site-Nmdad.png">
    </a></div>

    <h1><span></span></h1>


</header>
