<header id="header">
    <div>
        <nav>
            <ul class="topnav" id="myTopnav">
                <li><a href="/sporten.html">Sporten</a></li>
                <li><a href="/locatie.html">Locatie</a></li>
                <li><a href="/transport.html">Transport</a></li>
                <li><a href="/contact.html">Contact</a></li>
                <li><a href="/login.html">Login</a></li>
                <li class="icon">
                    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
                </li>
            </ul>
        </nav>
    </div>
    <div>
        <a href="index.html">
            <img class='logo_home logo' src="../afbeeldingen/Logo-site-Nmdad.png">
        </a>
    </div>

    <div>
        <h1><span></span></h1>



</header>